<!DCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <!-- 引入样式 -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>开始使用Layui</title>
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static 'apis/layui.css' %}" />
</head>
<body>
    <div class="x-accordion" x-role="accordion">
        <div class="x-panel x-panel-collapsed">
            <div class="x-panel-header">
                标题 1
            </div>
            <div class="x-panel-body">
                正文 1
            </div>
        </div>
        <div class="x-panel x-panel-expanded">
            <div class="x-panel-header">
                标题 2
            </div>
            <div class="x-panel-body">
                正文 2
            </div>
        </div>
        <div class="x-panel x-panel-collapsed">
            <div class="x-panel-header">
                标题 3
            </div>
            <div class="x-panel-body">
                正文 3
            </div>
        </div>
    </div>
</body>
<script src="../layui.js"></script>
</html>
