{% if latest_project_list %}
    <ul>
    {% for project in latest_project_list %}
        <li>
            <!--<a href = "/projects/{{project.id}}/">{{project.project_name}}</a>-->
            <a href = "{% url 'detail' project.id %}">{{project.project_name}}</a>
            <!--</br>
            <input type="text" id="name"  value = "{{project.project_name}}">
            <input type="text" id="date" value = "{{project.add_project_date}}">
        </br> -->
            <!--<button type="button" onclick="sendRequest()"> click me </button> -->
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No project are available. </p>
{% endif %}

<script>
    //var req_url = document.getElementById("url").value;
    //var req_parms = document.getElementById("parms").value;
    //var req_method = document.getElementById("method").value;
    function sendRequest() {
        //var request = req_url + "?" + req_parms;
        alert("send request:" + req_method + " " + request);
        //$.ajax({
        //    type: req_method,
        //    url: req_url,
        //    data: req_parms,
        //    success: function () {},
        //    dataType: "jsonp"
        //});
    }

    function getUrlParam(name, parms) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
        var r = parms.match(reg);
        if (r != NULL) {
            return unescape(r[2]);
        }
        return null;
    }
</script>
